{% extends "base.html.twig" %}

{% block title %}{{ parent() }}About Us{% endblock %}

{% block body %}
    <h1>About Us - All you need to know</h1>
    <h2>Well... No... You're not getting our social number</h2>
    <div class="card">
        <div class="card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, assumenda corporis et exercitationem labore magni modi molestiae natus odio perspiciatis quo suscipit, tenetur voluptate. Aliquid debitis est perferendis unde voluptatem!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, assumenda corporis et exercitationem labore magni modi molestiae natus odio perspiciatis quo suscipit, tenetur voluptate. Aliquid debitis est perferendis unde voluptatem!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, assumenda corporis et exercitationem labore magni modi molestiae natus odio perspiciatis quo suscipit, tenetur voluptate. Aliquid debitis est perferendis unde voluptatem!</p>
        </div>
    </div>
{% endblock %}
