{% extends "base.html.twig" %}

{% block title %}New Bucket List Title!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/style.css">
{% endblock %}


{% block body %}
    <h1>Test H1 Heading</h1>
{% endblock %}