{% extends "base.html.twig" %}

{% block title %}{{ parent() }}Home{% endblock %}

{% block body %}
    <h1>Test H1 Heading</h1>

    <div class="card">
        <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid aut consectetur corporis cumque dolor dolore ipsum maiores minima necessitatibus quaerat, repellat tempore totam ullam, unde velit voluptas voluptate voluptates.
        </div>
    </div>
{% endblock %}
