body {
    font-family: 'Lato', sans-serif;
    color: #222222;
}
header {
    padding: 20px 10px;
}
.logo img {
    max-height: 80px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #22746E;
}
footer {
    background: #222222;
    color: #F5F5F5;
    padding: 20px 10px;
}
.w90 {
    max-width: 90%;
}