{% extends "base.html.twig" %}

{% block title %}{{ wish.title }} | {{ parent() }}{% endblock %}

{% block body %}

    <h1>{{ wish.title }}</h1>

    <div class="card">
        <div class="card-body">
            {{ wish.description }}
        </div>
    </div>

{% endblock %}
